.container{
    background-color: #fff;
    /* padding: 0 45rem 0 45rem; */
    max-height: 100dvh;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;
   
}

.sub_container{
    background-color: black;
    max-height: 100dvh;
    min-height: 100dvh;
    width: 30%;
    position: relative;
    overflow: hidden;
    /* scrollbar-width: none; */
    z-index: 99;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

video{
    height: calc(100vh - 5rem) !important;
    object-fit: fill !important;
  }

.bg_vid{
    width: 100% !important;
    height: calc(100dvh - 5rem) !important;
    object-fit: cover !important;
    overflow: hidden !important;
}

.info_container{
    position: absolute;
    right: 0;
    bottom: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1rem 1rem 1rem;
}
.info_sub_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.item_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-direction: column;
}
.icon{
    font-size: 2.5rem !important;
    color: white;
}
.text{
    font-size: 1.2rem;
    color: white;
}
.unmute_button{
    position: absolute;
    top: 20%;
    right: 1rem;
    transform: translate(0,-20%);
    z-index: 99;
    width: 15rem;
    background-color: rgba(255, 255, 255, 0.764);
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    font-family: 'Poppins',sans-serif;
    padding: 1rem;
    border-radius: 0.2rem;
}
.text_bottom{
    position: absolute;
    bottom: 11%;
    left: 2%;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
}

.mute_icon{
    color: black !important;
    font-size: 2rem !important;
}

.unmute_button.inactive{
    display: none;
    visibility: hidden;
}

.icon:hover{
    color: #ef3f59;
}


.btn{
    background-color: #ef3f59;
    width: 90%;
    margin: 10px 0px 10px 0px;
    height: 4rem;
    font-size: 2rem;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}


.explore_div{
    position: absolute;
    top:15%;
    left: 10%;

}


.explore_div p{
    color: white;
    font-size: 5rem;
    font-weight: 900;
}

.btn:hover{
    background-color: #c80a27;
    
   
}


@media screen and (max-width:1000px){
    .sub_container{
        width: 50%;
    }
}

@media screen and (max-width:600px){
    .sub_container{
        width:100%;
    }
}